
/* ============== Geral ============== */
.informacoes-text, .sobre-text, .chamada-text, .secao2-text{
    line-height: 1.5;
}

/* ============== Barra de navegação ============== */
header nav{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: var(--main-first-color);
    height: 60px;
    padding: 0 2rem;
    /* position: fixed;
    top: 0;
    z-index: var(--z-fixed); */
}

.header-title{
    font-family: var(--title-font);
}

.option-destaque{
    color: rgb(255, 255, 255);
}

header nav ul{
    display: flex;
    gap: 2rem;
}

header nav ul a{
    color: rgba(255, 255, 255, 0.5);
}

/* ============== Sessão Chamada ============== */
#chamada{
    background-color: rgba(130, 180, 255, 0.5);
}

#chamada > div{
    display: flex;
}

#chamada > div > div{
    width: 50%;
}

.chamada-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chamada-info div{
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: var(--margin-1);
}

.chamada-image{
    display: flex;
    justify-content: center;
}

.chamada-image img{
    width: 70%;
}

/* ============== Sessão 2 ============== */
#secao2{
    display: flex;
    flex-direction: column;
    gap: var(--margin-4);
}

#secao2 > div{
    display: flex;
}

#secao2 > div :first-child{
    width: 30%;
}

#secao2 > div :last-child{
    width: 70%;
}

#secao2 > div :last-child *{
    width: 100%;
}

#secao2 a{
    color: var(--second-sec-color);
}

.secao2-direction-end{
    text-align: end;
}

.secao2-direction-end > :nth-child(2){
    padding-left: 8rem;
}

.secao2-direction-start{
    flex-direction: row-reverse;
}

.secao2-direction-start > :nth-child(2){
    padding-right: 8rem;
}

#secao2 > div :last-child .secao2-title{
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: var(--margin-0-5);
}

.secao2-line{
    height: 7px;
    background: rgba(224, 29, 33, 0.5);
    border: none;
    width: 100%;
}

.secao2-text b{
    font-weight: bold;
    color: rgba(224, 29, 33, 0.5);
}

/* ============== Sessão Informações ============== */
#informacoes a{
    color: var(--second-sec-color);
}

.informacoes-benefits{
    display: flex;
    gap: var(--margin-3);
}

.informacoes-benefits li{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.informacoes-benefits li :first-child{
    font-size: var(--h1-font-size);
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

.informacoes-benefits li :last-child{
    font-size: var(--smaller-font-size);
}

/* ============== Sessão Planos ============== */

#planos > div{
    display: flex;
    margin: 0 var(--margin-3);
}

#planos > div > div{
    width: 50%;
    background-color: rgba(130, 180, 255, 0.5);
    margin: 0 var(--margin-1);
    border-radius: 20px;
    padding: var(--margin-3) 0;
    text-align: center;
}

/* ============== Sessão Sobre nós ============== */
#sobre > div{
    display: flex;
}

#sobre > div div{
    width: 50%;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre-image img{
    width: 60%;
}

.sobre-text b{
    font-weight: bold;
    color: var(--second-sec-color);
}

/* ============== Sessão Entre Contato ============== */
#contato{
    background-color: rgba(130, 180, 255, 0.5);
    display: flex;
    flex-direction: column; 
    justify-content: center;
    gap: var(--margin-2);
    padding: 2rem 10rem;
}

.contato-title{
    text-align: center;
}
/* ============== Rodapé ============== */
footer > div{ 
    background-color: var(--main-first-color);
}