@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Doppio+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


:root{
    --main-color: 37; /*285*/
    --main-first-color: hsl(var(--main-color), 100%, 88%); /*#FFE8C2*/
    --main-first-color-alt: hsl(var(--main-color), 57%, 53%);
    --main-first-color-lighter: hsl(var(--main-color), 92%, 85%);
    --main-title-color: hsl(var(--main-color), 8%, 15%);
    --main-text-color: hsl(var(--main-color), 8%, 45%);
    --main-text-color-light: hsl(var(--main-color), 8%, 65%);
    
    --main-input-color: hsl(var(--main-color), 70%, 96%);
    --main-body-color: hsl(var(--main-color), 60%, 99%);

    --second-color: 60;
    --second-sec-color: hsl(var(--second-color), 100%, 50%);
    --second-sec-color-alt: hsl(var(--second-color), 100%, 80%);

    --details-color: 355;
    --details-tec-color: hsl(var(--details-color), 81%, 50%);
    --details-tec-color-alt: hsl(var(--details-color), 81%, 61%);

    --container-color: #FFFFFF;

    --body-font: 'Poppins', sans-serif;
    --title-font: 'Doppio One', sans-serif;
}

.square{
    font-family: var(--title-font);
    width: 200px;
    height: 200px;
    background-color: var(--main-first-color);
}