.container-planos{
    height: 90%;
    width: 80%;
    border-radius: 2%;
}

.nav-planos{
    margin-left: 5%;
}

#planos-choice > div{
    display: flex;
    justify-content: center;
}

#planos-choice > div > div{
    width: fit-content;
    border: 4px;
    background-color: rgb(255, 255, 255);
    margin: 0 var(--margin-1);
    border-radius: 20px;
    padding: var(--margin-3) var(--margin-1);
    text-align: center;
}


.card-subtitle{
    font-size: var(--smaller-font-size);
    color: rgba(33, 37, 41, 1);
}

.card-body{
    margin: var(--margin-3) var(--margin-2);
    line-height: 2;
}

.card-detalhe{
    text-align: end;
    color: var(--second-sec-color);
    font-size: var(--smaller-font-size);
    margin-right: 1.5rem;
}

.plano-card h1{
    margin-bottom: 0.8rem;
}

.plano-card h1:has(+ p){
    margin-bottom: 0rem; 
}
