/*
|--------------------------------------------------------------------------
| Configurações gerais de LOGIN e CADASTRO
|--------------------------------------------------------------------------
*/
#main{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    height: 100%;
    width: 100%;
    display: flex;
}

.main-session{
    width: 50%;
    text-align: center;
}

.main-content{
    max-height: 70%;
    min-height: 70%;
    margin: auto;
}

.second-session{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.main-welcome-text{
    text-align: center;
}

.main-title{
    font-size: var(--big-font-size);
}

.main-subtitle{
    font-size: var(--h3-font-size);
}

.main-input-link{
    border-bottom: 1px solid #1b1c1e93;
}

.main-input-link:hover{
    transition: 0.3s;
}

.main-logo{
    width: 281px;
    height: 368px;
    margin: auto;
}

.main-description{
    margin-bottom: var(--margin-1);
    font-family: var(--body-font);
    line-height: 115%;
    font-size: var(--h4-font-size);
}
.main-copy{
    bottom: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 115%;
    margin-top: var(--margin-2);
    color: rgba(0, 0, 0, 0.5);
}

.switch_container {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
}

.switch_text {
    color: #fff;
    margin-left: auto;
    margin-right: 10px;
}

.switch {
    position: absolute;
    opacity: 0;
}

.switch + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
    width: 50px;
    height: 26px;
    background-color: #dddddd;
    border-radius: 26px;
    transition: background 0.4s;
}

.switch + label:before,
.switch + label:after {
    display: block;
    position: absolute;
    content: "";
}

.switch + label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: hsla(220, 5%, 11%);
    border-radius: 26px;
    transition: background 0.4s;
}

.switch + label:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 16px;
    background-color: #dddddd;
    border-radius: 24px;
    transition: margin 0.4s, background 0.4s;
}

.switch-input:checked + label::after {
    background-color: hsl(216, 100%, 85%);
}

.switch:checked + label:after {
    margin-left: 32px;
    transform: translateX(-35%);
    background-color: hsl(216, 100%, 85%);
} 

.main-desc-cadastro{
    margin: auto;
    font-size: var(--h4-font-size);
    color: var(--main-input-color);
}

@media (max-width: 1280px) {
    .main-logo{
        width: 150px;
        height: 200px;
    }
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px var(--main-body-color-alt) inset;
}

input:-webkit-autofill {
    -webkit-text-fill-color: var(--main-input-color) !important;
}

::-ms-reveal {
    filter: invert(100%);
  }